.navbar-inverse .navbar-inner {
	border-bottom-width: 0;
	
	background: #575757; /* Old browsers */
	background: -moz-linear-gradient(top, #575757 0%, #3d3d3d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#575757), color-stop(100%,#3d3d3d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #575757 0%,#3d3d3d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #575757 0%,#3d3d3d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #575757 0%,#3d3d3d 100%); /* IE10+ */
	background: linear-gradient(to bottom, #575757 0%,#3d3d3d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#575757', endColorstr='#3d3d3d',GradientType=0 ); /* IE6-9 */
}
.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
	background-color: #DA262E;
	color: #111;
}
.navbar .brand {	
    width: 50px;
}

h2 {
	font-family:verdana;
	font-size:1.5em;
}
h3 {
	font-family:verdana;
	font-size:1.1em;
}
body {
	padding-top: 60px;
	padding-bottom: 40px;
}
table {
	border: 1px solid black;
}
th
{
	border: 1px solid black;
	background-color: #DA262E;
	color:white;
	padding:5px;
}
td
{
	padding:5px;
	border: 1px solid black;
}

td.Normal {
	#background-color: #668E17;
	#color: #fff;
}
td.LowWarn {
	background-color: #EBA120;
	color: #000;
}
td.LowErr {
	background-color: #c02424;
	color: #fff;
}
td.HighWarn {
	background-color: #EBA120;
	color: #000;
}
td.HighErr {
	background-color: #c02424;
	color: #fff;
}
