<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title></title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width" />
		
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/css/main.css}" />
		<link rel="stylesheet" th:href="@{/css/bootstrap-responsive.min.css}" />
		<link rel="stylesheet" th:href="@{/css/main.css}" />
		
		<script th:src="@{/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js}"></script>
	</head>
	<body>
		<div th:substituteBy="header :: menu"></div>
	
		<div class="container">
	
			<!-- Example row of columns -->
			<div class="row">

				<div class="span12">
					<h3>Battery State of Charge/Balance</h3>
					<table>
						<thead>
							<tr>
								<th>SOC Percentage</th>
								<th>SOC (aH)</th>
								<th>Pack Current (mA)</th>
								<th>Pack Voltage (mV)</th>
							</tr>
						</thead>
						<tbody>
							<tr id="sb0">
								<td id="28484" class="okay">0</td>
								<td id="28480" class="okay">0</td>
								<td id="28580" class="okay">0</td>
								<td id="28576" class="okay">0</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="span12">
					<h3>Cell Voltages</h3>
	
					<table>
						<thead>
							<tr>
								<th>CMU</th>
								<th>Cell Temp (C)</th>
								<th>PCB Temp (C)</th>
								<th>Cell 0 mV</th>
								<th>Cell 1 mV</th>
								<th>Cell 2 mV</th>
								<th>Cell 3 mV</th>
								<th>Cell 4 mV</th>
								<th>Cell 5 mV</th>
								<th>Cell 6 mV</th>
								<th>Cell 7 mV</th>
							</tr>
						</thead>
						<tbody>
							<tr id="cl0">
								<td>CMU 1</td>  									
													
								<td id="24596" class="okay">0</td>
								<td id="24598" class="okay">0</td>
																					
								<td id="24608" class="okay">0</td>
								<td id="24610" class="okay">0</td>
								<td id="24612" class="okay">0</td>
								<td id="24614" class="okay">0</td>
								<td id="24624" class="okay">0</td>
								<td id="24626" class="okay">0</td>
								<td id="24628" class="okay">0</td>
								<td id="24630" class="okay">0</td>
							</tr>
							<tr id="cl1">
								<td>CMU 2</td>
								
								<td id="24644" class="okay">0</td>
								<td id="24646" class="okay">0</td>
																	
								<td id="24656" class="okay">0</td>
								<td id="24658" class="okay">0</td>
								<td id="24660" class="okay">0</td>
								<td id="24662" class="okay">0</td>
								<td id="24672" class="okay">0</td>
								<td id="24674" class="okay">0</td>
								<td id="24676" class="okay">0</td>
								<td id="24678" class="okay">0</td>
							</tr>
							<tr id="cl2">													
								<td>CMU 3</td>
								
								<td id="24692" class="okay">0</td>
								<td id="24694" class="okay">0</td>
																
								<td id="24704" class="okay">0</td>
								<td id="24706" class="okay">0</td>
								<td id="24708" class="okay">0</td>
								<td id="24710" class="okay">0</td>
								<td id="24720" class="okay">0</td>
								<td id="24722" class="okay">0</td>
								<td id="24724" class="okay">0</td>
								<td id="24726" class="okay">0</td>
							</tr>
							<tr id="cl3">
								<td>CMU 4</td>
								
								<td id="24740" class="okay">0</td>
								<td id="24742" class="okay">0</td>
																							
								<td id="24752" class="okay">0</td>
								<td id="24754" class="okay">0</td>
								<td id="24756" class="okay">0</td>
								<td id="24758" class="okay">0</td>
								<td id="24768" class="okay">0</td>
								<td id="24770" class="okay">0</td>
								<td id="24772" class="okay">0</td>
								<td id="24774" class="okay">0</td>
							</tr>
							<tr id="cl4">
								<td>CMU 5</td>
								
								<td id="24788" class="okay">0</td>
								<td id="24790" class="okay">0</td>								
																	
								<td id="24800" class="okay">0</td>
								<td id="24802" class="okay">0</td>
								<td id="24804" class="okay">0</td>
								<td id="24806" class="okay">0</td>
								<td id="24816" class="okay">0</td>
								<td id="24818" class="okay">0</td>
								<td id="24820" class="okay">0</td>
								<td id="24822" class="okay">0</td>
							</tr>							
						</tbody>
					</table>
				</div>


				<div class="span12">
					<h3>Cell Min/Max Voltage</h3>
					<table>
						<thead>
							<tr>
								<th></th>
								<th>CMU Number</th>
								<th>Cell Number</th>
								<th>Value</th>
							</tr>
						</thead>
						<tbody>
							<tr id="cmmv0">
								<td>Minimum</td>
								<td id="28548" class="okay">0</td>
								<td id="28549" class="okay">0</td>
								<td id="28544" class="okay">0</td>
							</tr>
							<tr id="cmmv1">
								<td>Maximum</td>
								<td id="28550" class="okay">0</td>
								<td id="28551" class="okay">0</td>
								<td id="28546" class="okay">0</td>
							</tr>
						</tbody>
					</table>
				</div>

				
				
				<div class="span12">
					<h3>Fan Status</h3>
					<table>
						<thead>
							<tr>
								<th>12V Current CMUs</th>
								<th>12V Current fans/Contactors</th>
								<th>Fan Speed 0 (RPM)</th>
								<th>Fan Speed 1 (RPM)</th>
							</tr>
						</thead>
						<tbody>
							<tr id="ps0">
								<td id="28614" class="okay">0</td>
								<td id="28612" class="okay">0</td>
								<td id="28608" class="okay">0</td>
								<td id="28610" class="okay">0</td>
							</tr>
						</tbody>
					</table>
				</div>


				
				<div class="span12">
					<h3>Charger Control</h3>
					<table>
						<thead>
							<tr>
								<th>Charge Cell Voltage Error(mV)</th>
								<th>Cell Temperature Margin</th>
								<th>Discharge Cell Voltage Error(mV)</th>
								<th>Total Pack Capacity (aH)</th>
							</tr>
						</thead>
						<tbody>
							<tr id="cc0">
								<td id="28518" class="okay">0</td>
								<td id="28516" class="okay">0</td>
								<td id="28514" class="okay">0</td>
								<td id="28512" class="okay">0</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="span12">
					<h3>PreCharge Status</h3>
					<table>
						<thead>
							<tr>
								<th>PreCharge Timer</th>
								<th>Timer Flag</th>
								<th>PreCharge State</th>
								<th>Contactor Status</th>
							</tr>
						</thead>
						<tbody>
							<tr id="ps0">
								<td id="28535" class="okay">0</td>
								<td id="28534" class="okay">0</td>
								<td id="28529" class="okay">0</td>
								<td id="28528" class="okay">0</td>
							</tr>
						</tbody>
					</table>
				</div>

				
				<div class="span12">
					<h3>Pack Status</h3>
					<table>
						<thead>
							<tr>
								<th>BMU Firmware Build Number</th>
								<th>CMU Count</th>
								<th>Status Flags</th>
								<th>Balance voltage threshold falling mV</th>
								<th>Balance voltage threshold rising mV</th>
								<th>BMU Model ID</th>
								<th>BMU Hardware Version</th>
								<th>Extended Status Flags</th>
							</tr>
						</thead>
						<tbody>
							<tr id="ps0">
								<td id="28598" class="okay">0</td>
								<td id="28597" class="okay">0</td>
								<td id="28596" class="okay">0</td>
								<td id="28594" class="okay">0</td>
								<td id="28592" class="okay">0</td>
								<td id="28629" class="okay">0</td>
								<td id="28628" class="okay">0</td>
								<td id="28624" class="okay">0</td>
							</tr>
						</tbody>
					</table>
				</div>
				
				
				
			</div>
	
			<hr />
	
			<div th:substituteBy="footer :: details"></div>
	
		</div>
		<!-- /container -->
	
		<!-- script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script -->
		<script src="/js/vendor/jquery-1.9.1.min.js"></script>
		<script type="text/javascript">window.jQuery || document.write('\x3Cscript type="text/javascript" src="/js/vendor/jquery-1.9.1.min.js">\x3C/script>');</script>
	
		<script th:src="@{/js/vendor/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.flot.js}"></script>
		<script th:src="@{/js/bms.js}"></script>
	</body>
</html>
