<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:int-ip="http://www.springframework.org/schema/integration/ip"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:int-splunk="http://www.springframework.org/schema/integration/splunk"
	xsi:schemaLocation="http://www.springframework.org/schema/integration
		http://www.springframework.org/schema/integration/spring-integration.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/integration/ip
		http://www.springframework.org/schema/integration/ip/spring-integration-ip.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/integration/splunk 
		http://www.springframework.org/schema/integration/splunk/spring-integration-splunk.xsd">

	<context:component-scan base-package="com.teamarrow.utils.test"/>
	
	<bean id="LogReplayer" class="au.com.teamarrow.utils.test.LogReplayer"/>
	<bean id="CruiseControlStepTest" class="au.com.teamarrow.utils.test.CruiseControlStepTest"/>
	<bean id="CruiseControlTest" class="au.com.teamarrow.utils.test.CruiseControlTest"/>
	<bean id="CarTestUtils" class="au.com.teamarrow.utils.test.CarTestUtils"/>
	<bean id="CruiseSimulator" class="au.com.teamarrow.utils.test.CruiseSimulator"/>
	
	<bean id="udpPacketSerializer" class="au.com.teamarrow.canbus.serial.UdpPacketSerializer"/>
	<bean id="udpPacketDeserializer" class="au.com.teamarrow.canbus.serial.UdpPacketDeserializer"/>
	<bean id="canPacketSplitter" class="au.com.teamarrow.canbus.serial.CanPacketSplitter"/>
	<bean id="cruiseSimulatorService" class="au.com.teamarrow.service.impl.CruiseSimulatorServiceImpl">
		<property name="variationHertz" value="5"/>
		<property name="velocityVariationPercent" value="0.001"/>	
	</bean>	
	<bean id="enricherBean" class="au.com.teamarrow.service.impl.MeasurementDataEnrichment"/>		
	
	<!-- These beans are used to set up the core engine of maps system -->
	<bean id="AlertManager" class="au.com.teamarrow.alerts.AlertManager">
		<property name="alertsFile" value="/Alert_Values.csv"/>
		<property name="flagsFile" value="/Flag_Values.csv"/>
		<property name="normalLevelScript" value="StatusNormal.bat"/>
		<property name="warningLevelScript" value="StatusWarning.bat"/>
		<property name="alertLevelScript" value="StatusAlert.bat"/>
		<property name="shutdownLevelScript" value="StatusShutdown.bat"/>
		<property name="scriptDir" value="D:/Work/TeamArrow/teamarrowweb/TeamArrow/alerts/"/>
	</bean>

	<!-- These beans are used to set up the core engine of maps system -->
	<bean id="Route" class="au.com.teamarrow.maps.impl.CvsRouteImpl">
		<property name="routeFile" value="/test_routedata.csv"/>
		<property name="controlStopDistances">
			<list>
				<value>321000</value>
				<value>633000</value>
				<value>988000</value>
				<value>1302000</value>
				<value>1493000</value>
				<value>1766000</value>
				<value>2171000</value>
				<value>2432000</value>
				<value>2719000</value>
			</list>
		</property>
		<property name ="controlStopDescriptions">
			<list>	
				<value>"Katherine Control Stop"</value>
				<value>"Dunmarra Control Stop"</value>
				<value>"Tennant Creek Control Stop"</value>
				<value>"Ti Tree Control Stop"</value>
				<value>"Alice Springs Control Stop"</value>
				<value>"Kulgera Control Stop""</value>
				<value>"Coober Pedy Control Stop"</value>
				<value>"Glendambo Control Stop"</value>
				<value>"Port Augusta Control Stop"</value>
			</list>
		</property>
	</bean>
	
	
	
	<int:channel id="canbusOutputChannel"
		datatype="au.com.teamarrow.canbus.model.UdpPacket">
	</int:channel>	
	
	<int:payload-serializing-transformer id="udpPacketSerializingTransformer"
		input-channel="canbusOutputChannel"
		output-channel="output">
	</int:payload-serializing-transformer>
	
	<int:channel id="output" />
	
	<int-ip:udp-outbound-channel-adapter id="canbusSender"
	    host="239.255.60.60"
    	port="4876"
    	multicast="true"
    	check-length="false"
    	channel="output" />

	
	 <!-- Splunk Configuration -->
	 
	<int:transformer id="measurementDataToSplunkTransformer" input-channel="measurementAggregatedDataChannel"
                output-channel="splunkData" ref="measurementDataToSplunkTransformerBean"/>
                
	<bean id="measurementDataToSplunkTransformerBean" class="au.com.teamarrow.splunk.MeasurementDataToSplunkTransformer"/>                
                	
	 <int:channel id="splunkData"/>
	 <int:channel id="measurementAggregatedDataChannel"/>		

     <int-splunk:server id="splunkServer" host="localhost" port="8089" username="teamarrow" password="***REMOVED***" scheme="https"/>
	
	 <!-- <int-splunk:outbound-channel-adapter id="splunkOutboundChannelAdapter" channel="splunkData" splunk-server-ref="splunkServer">     
     	<int-splunk:tcp-writer port="9999"/>
     </int-splunk:outbound-channel-adapter> -->
		
	 
	 
	 <int:delayer id="delayer" input-channel="splunkData"
	 	output-channel="nullChannel" default-delay="1">
	 </int:delayer>
</beans>