<?xml version="1.0" encoding="UTF-8"?>
<web-app id="telemetry" version="3.0" xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
      
    <display-name>Team Arrow Telemetry</display-name>

    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
        	classpath:META-INF/spring/mvc/spring-context.xml 
        	classpath:META-INF/spring/integration/spring-integration-context.xml
        	classpath:META-INF/spring/mvc/spring-data.xml
        	classpath:META-INF/spring/maps/ArrowPointMaps.xml
        	classpath:META-INF/spring/alerts/ArrowPointAlerts.xml    
        	classpath:META-INF/spring/scheduler/scheduler.xml
        </param-value>
    </context-param>

    <!-- Creates the Spring Container shared by all Servlets and Filters -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet-mapping>
      <servlet-name>spring</servlet-name>
      <url-pattern>/</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
    
</web-app>